<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/settings.css">
</head>
<body>
  <div class="container">
    <h2>Change Password</h2>
    <form action="/settings" method="post">
      <input type="password" id="current_password" name="current_password" placeholder="Current Password">
      <input type="password" id="new_password" name="new_password" placeholder="New Password">
      <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm New Password">
      <button type="submit">Update Password</button>
    </form>
    <button type="button" onclick="location.href='/storepage'">Return</button>
  </div>
</body>
</html>
