.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

h2 {
margin-bottom: 40px;
}

form {
display: inline-block;
margin-bottom: 40px;
}

input {
width: 100%;
padding: 10px;
margin-bottom: 20px;
font-size: 16px;
border-radius: 5px;
border: 1px solid #ccc;
}

button {
padding: 10px 20px;
border-radius: 5px;
font-size: 16px;
background-color: #333;
color: white;
border: none;
cursor: pointer;
}
  